xsd/actos/compraventa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:include schemaLocation="../comunes/persona.xsd"/>
  <xs:include schemaLocation="../comunes/identificacion-inmueble.xsd"/>

  <xs:annotation>
    <xs:documentation>
      Acto de compraventa de inmueble.
      Restricciones de v1.0:
      - Un solo acto por testimonio (no múltiples).
      - Asentimiento conyugal se modela como texto libre (no estructurado).
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="CompraventaType">
    <xs:sequence>
      <xs:element name="DescripcionActoIncompleto" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Aclaración del escribano sobre el acto si no es una compraventa
            completa estándar. Texto libre, opcional.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="106"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="Adquirentes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Persona" type="PersonaType" minOccurs="1" maxOccurs="20"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Transmitentes">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Persona" type="PersonaType" minOccurs="1" maxOccurs="20"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="Inmuebles">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Inmueble" minOccurs="1" maxOccurs="50">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="IdentificacionInmueble" type="IdentificacionInmuebleType"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="ReconocimientoHipotecaMedidasCautelares" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Texto libre, opcional.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="AfectacionesAlDominio" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Texto libre, opcional.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="AsentimientoConyugal" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Asentimiento conyugal como texto libre. Si se requiere estructura
            (cónyuge, fecha, etc.), evolución v2.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4000"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
