xsd/v2/comunes/nomenclatura-catastral.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v2"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v2"
    elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Nomenclatura catastral del inmueble. Los 5 campos son obligatorios.

      La cardinalidad del bloque se define en el lugar donde se referencia el
      tipo, no en el tipo en sí: en v2 cada Inmueble lleva una NomenclaturaCatastral
      obligatoria (junto a IdentificacionInmueble y CertificacionCatastral).
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="NomenclaturaCatastralType">
    <xs:sequence>
      <xs:element name="Campo1">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Campo2">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Campo3">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Campo4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Campo5">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
