xsd/comunes/certificacion-registral.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Certificación registral previa al acto: certificado de dominio que el
      escribano solicitó al RPI antes de otorgar la escritura.
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="CertificacionRegistralPreviaType">
    <xs:sequence>
      <xs:element name="Numero">
        <xs:annotation>
          <xs:documentation>Número del certificado emitido por el RPI.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FechaEmision" type="xs:date">
        <xs:annotation>
          <xs:documentation>Fecha de emisión del certificado.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FechaVigencia" type="xs:date">
        <xs:annotation>
          <xs:documentation>
            Fecha hasta la cual el certificado mantiene vigencia. Debe ser
            posterior a FechaEmision y posterior a la fecha del otorgamiento.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
