xsd/comunes/identificacion-inmueble.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Identificación del inmueble. Soporta dos modos:
      - Por matrícula: para inmuebles registrados con sistema de folio real.
      - Por tomo/folio/finca: para inmuebles antiguos sin matrícula.

      Debe completarse al menos uno de los dos. El servicio valida en código.
    </xs:documentation>
  </xs:annotation>

  <!-- Enum: código de departamento de Neuquén -->
  <xs:simpleType name="CodigoDepartamentoEnum">
    <xs:annotation>
      <xs:documentation>
        Código numérico del departamento según tabla del RPI Neuquén:
        1=Aluminé, 2=Añelo, 3=Catán Lil, 4=Collón Curá, 5=Confluencia,
        6=Chos Malal, 7=Huiliches, 8=Lácar, 9=Loncopué, 10=Los Lagos,
        11=Minas, 12=Ñorquín, 13=Pehuenches, 14=Picunches, 15=Picún Leufú,
        16=Zapala.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="16"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo: matrícula numérica -->
  <xs:simpleType name="MatriculaType">
    <xs:annotation>
      <xs:documentation>
        Matrícula del inmueble como número entero positivo (hasta 8 dígitos).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="99999999"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo: IdentificacionInmueble -->
  <xs:complexType name="IdentificacionInmuebleType">
    <xs:sequence>
      <xs:element name="Matricula" type="MatriculaType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Opcional. Si se omite, debe completarse la terna Tomo+Folio+Finca.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Barra" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Barra catastral. Opcional, hasta 5 caracteres.
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Departamento" type="CodigoDepartamentoEnum">
        <xs:annotation>
          <xs:documentation>Código de departamento, siempre obligatorio.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tomo" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Folio" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Finca" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
