xsd/comunes/identificacion-inmueble.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Identificación registral del inmueble afectado por el acto.
    </xs:documentation>
  </xs:annotation>

  <!-- Tipo: matrícula en formato DD-NNNN -->
  <xs:simpleType name="MatriculaType">
    <xs:annotation>
      <xs:documentation>
        Matrícula del inmueble en formato DD-NNNN (departamento-número).
        Ejemplo: 12-3456.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{1,3}-\d{1,8}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo: IdentificacionInmueble -->
  <xs:complexType name="IdentificacionInmuebleType">
    <xs:sequence>
      <xs:element name="Matricula" type="MatriculaType">
        <xs:annotation>
          <xs:documentation>Matrícula registral del inmueble.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Departamento">
        <xs:annotation>
          <xs:documentation>Departamento donde está ubicado el inmueble.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Barrio" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Barrio (opcional).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="UbicacionLibre" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Ubicación adicional en texto libre (calle, número, piso, depto, manzana, lote).
          </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="500"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
