xsd/comunes/metadatos-envio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Metadatos del envío del testimonio: identificación, timestamp,
      hash del PDF adjunto y versión del contrato.
    </xs:documentation>
  </xs:annotation>

  <!-- Tipo: UUID v4 -->
  <xs:simpleType name="UUIDType">
    <xs:annotation>
      <xs:documentation>UUID v4 en formato canónico (8-4-4-4-12 hexadecimales).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo: hash SHA-256 en hexadecimal lowercase -->
  <xs:simpleType name="SHA256Type">
    <xs:annotation>
      <xs:documentation>Hash SHA-256 en hexadecimal lowercase (64 caracteres).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{64}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo: versión del contrato -->
  <xs:simpleType name="VersionContratoType">
    <xs:annotation>
      <xs:documentation>Versión del contrato XSD que el cliente declara usar (semver MAJOR.MINOR).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+\.\d+"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo: MetadatosEnvio -->
  <xs:complexType name="MetadatosEnvioType">
    <xs:annotation>
      <xs:documentation>Metadatos del envío del testimonio.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdentificadorEnvio" type="UUIDType">
        <xs:annotation>
          <xs:documentation>
            UUID v4 único por testimonio. Si se reenvía, debe ser el mismo
            (para idempotencia).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimestampEnvio" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            Fecha y hora del envío en formato ISO 8601 con timezone.
            Ejemplo: 2026-06-15T10:23:45-03:00
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HashPDF" type="SHA256Type">
        <xs:annotation>
          <xs:documentation>
            Hash SHA-256 del PDF adjunto en hexadecimal lowercase.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VersionContrato" type="VersionContratoType">
        <xs:annotation>
          <xs:documentation>
            Versión del contrato XSD que el cliente declara usar. Para esta v1.0: "1.0".
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
