xsd/comunes/persona-humana.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:include schemaLocation="escribano-autorizante.xsd"/>

  <xs:annotation>
    <xs:documentation>
      Persona humana. Tipo reutilizable para adquirentes, transmitentes y
      rogantes. En v1.0 no se soportan personas jurídicas.
    </xs:documentation>
  </xs:annotation>

  <!-- Tipo: documento de identidad -->
  <xs:simpleType name="TipoDocumentoEnum">
    <xs:annotation>
      <xs:documentation>Tipo de documento de identidad.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI"/>
      <xs:enumeration value="LE"/>
      <xs:enumeration value="LC"/>
      <xs:enumeration value="CI"/>
      <xs:enumeration value="PASAPORTE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="DocumentoType">
    <xs:annotation>
      <xs:documentation>
        Documento de identidad. El número es texto para preservar ceros
        a la izquierda en casos antiguos (LE/LC).
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="tipo" type="TipoDocumentoEnum" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Tipo: estado civil -->
  <xs:simpleType name="EstadoCivilEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SOLTERO"/>
      <xs:enumeration value="SOLTERA"/>
      <xs:enumeration value="CASADO"/>
      <xs:enumeration value="CASADA"/>
      <xs:enumeration value="DIVORCIADO"/>
      <xs:enumeration value="DIVORCIADA"/>
      <xs:enumeration value="VIUDO"/>
      <xs:enumeration value="VIUDA"/>
      <xs:enumeration value="CONVIVIENTE"/>
      <xs:enumeration value="OTRO"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Tipo: proporción (fracción) -->
  <xs:complexType name="ProporcionType">
    <xs:annotation>
      <xs:documentation>
        Proporción de adquisición o titularidad como fracción (numerador/denominador).
        Ejemplo: 1/2 se representa como numerador=1, denominador=2.
        El denominador no puede ser 0.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="numerador" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:maxInclusive value="100000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="denominador" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:positiveInteger">
          <xs:maxInclusive value="100000"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <!-- Tipo: PersonaHumana -->
  <xs:complexType name="PersonaHumanaType">
    <xs:annotation>
      <xs:documentation>
        Persona humana. Los campos opcionales dependen del rol:
        - Como adquirente: EstadoCivil, Nacionalidad y FechaNacimiento son obligatorios.
        - Como transmitente: pueden omitirse.
        - Proporcion solo aplica a adquirentes.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Apellido">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="180"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Nombres">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Documento" type="DocumentoType"/>
      <xs:element name="CUIT" type="CUITType" minOccurs="0"/>
      <xs:element name="EstadoCivil" type="EstadoCivilEnum" minOccurs="0"/>
      <xs:element name="Nacionalidad" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FechaNacimiento" type="xs:date" minOccurs="0"/>
      <xs:element name="PEP" type="xs:boolean" minOccurs="0" default="false">
        <xs:annotation>
          <xs:documentation>
            ¿Es Persona Expuesta Políticamente? Si no se incluye, se asume false.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Proporcion" type="ProporcionType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            Proporción de adquisición/titularidad. Obligatorio para adquirentes,
            opcional para transmitentes y rogantes.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
