xsd/comunes/rogante.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:include schemaLocation="escribano-autorizante.xsd"/>

  <xs:annotation>
    <xs:documentation>
      Datos del rogante del trámite. Persona que representa el trámite ante
      el RPI. Típicamente es el escribano autorizante.
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="RoganteType">
    <xs:sequence>
      <xs:element name="CUIT" type="CUITType">
        <xs:annotation>
          <xs:documentation>
            CUIT del rogante. Si coincide con el del escribano autorizante,
            se asume que es el mismo.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nombre">
        <xs:annotation>
          <xs:documentation>Nombre completo del rogante.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="120"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
