xsd/comunes/rogante.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <xs:include schemaLocation="escribano-autorizante.xsd"/>

  <xs:annotation>
    <xs:documentation>
      Rogante del trámite. Representa el trámite ante el RPI.
      Datos de contacto son obligatorios.
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="RoganteType">
    <xs:sequence>
      <xs:element name="CUIT" type="CUITType"/>
      <xs:element name="Nombre">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="120"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NumeroRegistro">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Localidad">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Provincia">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Domicilio">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Telefono">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
