xsd/testimonio-digital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
    targetNamespace="https://contrato.rpi.jusneuquen.gov.ar/testimonio-digital/v1"
    elementFormDefault="qualified">

  <!-- XML-DSig local para validación offline -->
  <xs:import
      namespace="http://www.w3.org/2000/09/xmldsig#"
      schemaLocation="xmldsig-core-schema.xsd"/>

  <!-- Includes de tipos comunes -->
  <xs:include schemaLocation="comunes/metadatos-envio.xsd"/>
  <xs:include schemaLocation="comunes/escribano-autorizante.xsd"/>
  <xs:include schemaLocation="comunes/persona.xsd"/>
  <xs:include schemaLocation="comunes/identificacion-inmueble.xsd"/>
  <xs:include schemaLocation="comunes/datos-economicos.xsd"/>
  <xs:include schemaLocation="comunes/certificacion-registral.xsd"/>
  <xs:include schemaLocation="comunes/certificacion-catastral.xsd"/>
  <xs:include schemaLocation="comunes/nomenclatura-catastral.xsd"/>
  <xs:include schemaLocation="comunes/visado-rentas.xsd"/>
  <xs:include schemaLocation="comunes/otorgamiento.xsd"/>
  <xs:include schemaLocation="comunes/rogante.xsd"/>
  <xs:include schemaLocation="actos/compraventa.xsd"/>

  <xs:annotation>
    <xs:documentation>
      Contrato XSD del Testimonio Digital del RPI Neuquén — v1.0
      (expansión alineada al Excel de estructura de minuta del RPI).

      En v1.0 se soporta el acto Compraventa de personas humanas, jurídicas
      y organismos públicos, con o sin representante.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="TestimonioDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MetadatosEnvio" type="MetadatosEnvioType"/>
        <xs:element name="EscribanoAutorizante" type="EscribanoAutorizanteType"/>
        <xs:element name="Otorgamiento" type="OtorgamientoType"/>
        <xs:element name="CertificacionRegistralPrevia" type="CertificacionRegistralPreviaType"/>
        <xs:element name="CertificacionCatastral" type="CertificacionCatastralType"/>
        <xs:element name="NomenclaturaCatastral" type="NomenclaturaCatastralType" minOccurs="0"/>
        <xs:element name="DatosEconomicos" type="DatosEconomicosType"/>
        <xs:element name="VisadoRentas" type="VisadoRentasType"/>
        <xs:element name="Acto">
          <xs:complexType>
            <xs:choice>
              <xs:element name="Compraventa" type="CompraventaType"/>
              <!-- Próximos actos en versiones futuras:
                   <xs:element name="Hipoteca" type="HipotecaType"/>
                   <xs:element name="Donacion" type="DonacionType"/>
              -->
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="Rogante" type="RoganteType"/>
        <xs:element name="Observaciones" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4000"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" fixed="1.0"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
